<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="primary">
      Lista de Spots
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let spot of spots" (click)="maskTapped(spot)">
        <ion-thumbnail slot="start">
          <img src="{{spot.image}}">
        </ion-thumbnail>
        <ion-label> {{spot.title}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-toolbar>
  <ion-title slot="primary">
    2019
  </ion-title>
</ion-toolbar>